.how-to-use-modal {
  .modal-card {
    .modal-card-head {
      .modal-card-title {
        color: #543d6f;
      }
    }
    .modal-card-body {
      color: #575757;
      strong {
        color: #414141;
      }
    }
  }
}
