.question-block {
  list-style: none;
  display: flex;
  border-bottom: 1px solid #dbdbdb;
  &.is-skeleton {
    height: 80px; /* change height to see repeat-y behavior */

    background-image:
      radial-gradient( circle 15px at 15px 15px, #e4ddeb 99%, transparent 0 ),
      linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
      linear-gradient( #e4ddeb 20px, transparent 0 ),
      linear-gradient( #e4ddeb 20px, transparent 0 );

    background-repeat: repeat-y;

    background-size:
      100px 200px, /* circle */
      50px 200px, /* highlight */
      400px 200px,
      200px 200px;

    background-position:
      9px 25px, /* circle */
      0 0, /* highlight */
      62px 15px,
      62px 45px;

    animation: shineQuestion 1s infinite;

    @keyframes shineQuestion {
      to {
        background-position:
          9px 25px,
          100% 0, /* move highlight to right */
          62px 15px,
          62px 45px;
      }
    }
  }
  .question-indicator {
    border-right: 1px solid #dbdbdb;
    flex: none;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    .question-indicator-bubble {
      width: 34px;
      height: 34px;
      border-radius: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .autofill-icon-container {
        width: 22px;
        height: 22px;
        position: absolute;
        right: -25px;
        border-width: 1px;
        border-style: solid;
        border-radius: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        .autofill-icon {
          width: 16px;
          height: auto;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    &.is-focus {
      .question-indicator-bubble {
        .question-indicator-bubble-border {

        }
        .question-indicator-bubble-content {
          background-color: $primary;
          color: white;
          outline: none;
          border-color: $primary;
          box-shadow: 0 0 10px $primary;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          transition: background-color 0.25s, color 0.25s, box-shadow 0.25s, border-color 0.25s;
        }
      }
    }
    &.is-evidence {
      .question-indicator-bubble {
        .question-indicator-bubble-border {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border-width: 2px;
          border-style: solid;
          border-color: lighten($primary, 0%);
          border-radius: 34px;
        }
        .question-indicator-bubble-content {

        }
      }
    }
    &.is-loading {
      .question-indicator-bubble {
        .question-indicator-bubble-border {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border-width: 2px;
          border-style: solid;
          border-color: $primary transparent $primary transparent;
          border-radius: 34px;
          animation: spinner 1s linear infinite;
        }
        .question-indicator-bubble-content {
        }
      }
    }
    &.is-error {
      .question-indicator-bubble {
        .question-indicator-bubble-border {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border-width: 2px;
          border-style: solid;
          border-color: $danger;
          border-radius: 34px;
        }
        .question-indicator-bubble-content {
        }
      }
    }
    &.is-warning {
      .question-indicator-bubble {
        .question-indicator-bubble-border {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border-width: 2px;
          border-style: solid;
          border-color: $warning;
          border-radius: 34px;
        }
        .question-indicator-bubble-content {
        }
      }
    }
    &.is-focus.is-evidence {
      .question-indicator-bubble {
        .question-indicator-bubble-border {
          top: -4px;
          bottom: -4px;
          left: -4px;
          right: -4px;
          border-radius: 38px;
          border-color: lighten($primary, 0%);
        }
        .question-indicator-bubble-content {
          box-shadow: none;
        }
      }
    }
    &.is-focus.is-loading {
      .question-indicator-bubble {
        .question-indicator-bubble-border {
          top: -4px;
          bottom: -4px;
          left: -4px;
          right: -4px;
          border-radius: 38px;
        }
      }
    }
    &.is-focus.is-error {
      .question-indicator-bubble {
        .question-indicator-bubble-border {
          top: -4px;
          bottom: -4px;
          left: -4px;
          right: -4px;
          border-radius: 38px;
        }
      }
    }
    &.is-focus.is-warning {
      .question-indicator-bubble {
        .question-indicator-bubble-border {
          top: -4px;
          bottom: -4px;
          left: -4px;
          right: -4px;
          border-radius: 38px;
        }
      }
    }
  }
  .question-content {
    padding: 15px 15px;
    flex: 1;
    .question-name {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 10px;
      color: #543d6f;
    }
    .control {
      label.radio {
        color: #575757;
        input[type=radio] {
          margin-right: 5px;
        }
      }
      input[type=text] {
        width: inherit;
      }
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
