.entity {
  height: 100%;

  .chevron {
    color: $color3;
  }
}

.btn {
  &.active,
  &:hover {
    .highlight {
      background-color: #fff;
      color: $color3;
    }
  }
}

.modal-dialog {
  max-width: 80%;
}
