.entity {
  height: 100%;

  .highlight {
    padding: 5px;
    background-color: $color3;
    color: #fff;
  }
}

.btn {
  &.active,
  &:hover {
    .highlight {
      background-color: #fff;
      color: $color3;
    }
  }
}

.modal-dialog {
  max-width: 80%;
}
