.form {
  .container {
    height: 100%;
  }

  .question_container {
    height: 80%;
    overflow: scroll;
  }

  .navigation_btns {
    height: 20%;
  }
}

@import './Sidebar/sidebar';
@import './Question/question';
