.entity {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $color3;
  background-color: $color5;
  // border-bottom: 1px solid $color3;
  margin-bottom: 10px;

  .chevron {
    color: $color3;
  }
}

.comment_box {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.report_text {
  white-space: pre-wrap;
}

.report_text_box {
  max-height: calc(100% - 3.5rem);
  max-width: 80vw;
  overflow: scroll;
}

.highlight {
  padding: 3px;
  border-radius: 5px;
  background-color: #44bba4;
  color: #fff;
}
