.entity {
  border-radius: 5px;
  border: 1px solid $color3;
  padding: 10px;
  background-color: $color5;

  .highlight {
    padding: 5px;
    background-color: $color3;
    color: #fff;
  }
}

.comment_box {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.report_text {
  white-space: pre-wrap;
}
