$color1: rgba(57, 62, 65, 1);
$color2: rgb(230, 230, 230);
$color3: rgba(68, 187, 164, 1);
$color4: rgba(211, 208, 203, 1);
$color5: white;
$secondary: $color3;
$header_height: 100px;
$full_height: calc(100vh - 100px);

#root {
  width: 400px;
  height: 100vh;
}

@import 'bootstrap/scss/bootstrap.scss';

@import '../Loader/loader';
@import '../Main/main';
