.header {
  height: $header_height;
  background-color: $color3;
  background: linear-gradient(
    180deg,
    rgba(68, 187, 164, 1) 70%,
    rgba(50, 142, 124, 1) 150%
  );
  color: white;

  .form-group,
  &.row {
    margin: 0;
  }
}
